@media screen and (max-width:830px) {

    .card {
        text-align: center;
        background-color: hsl(0, 0%, 12%);
        width: 35rem;
        height: 50rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .sub_titulo {
        font-size: 1.5rem;
        color: hsl(75, 94%, 57%);
    }

    .avatar_jessica {
        border-radius: 10rem;
        width: 10rem;
    }

    .menu_links {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .botoes {
        font-size: 1.5rem;
        font-weight: 600;
        background-color: hsl(0, 0%, 20%);
        border-radius: 0.5rem;
        text-align: center;
        width: 29rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.5rem;
    }

}


@media screen and (max-width:400px) {


    .card {
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    width: 20rem;
    height: 39rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.sub_titulo {
    color: hsl(75, 94%, 57%);
    font-size: 1rem;
}

.avatar_jessica {
    border-radius: 10rem;
    width: 6rem;
    margin: 1rem;
}

.menu_links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

 .botoes {
    font-size: 1rem;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
    text-align: center;
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 0.9rem;
}
h1 {
    font-size: 1.5rem;
}
.attribution {
    font-size: 0.7rem;
    text-align: center;
}
}
